<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

    <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %p - %30.30C[%L] - %m \n" />
        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="LevelMin" value="INFO"/>
            <param name="LevelMax" value="ERROR "/>
        </filter>
    </appender>

    <appender name="ERROR" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="DatePattern" value="'.'yyyy-MM-dd" />
        <param name="Append" value="true" />
        <param name="file" value="/export/Logs/Domians/reverseEnglish/error.log" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %p - %30.30C[%L] - %m \n" />
        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="LevelMin" value="ERROR" />
            <param name="LevelMax" value="ERROR" />
        </filter>
    </appender>

    <appender name="INFO" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="DatePattern" value="'.'yyyy-MM-dd" />
        <param name="Append" value="true" />
        <param name="file" value="/export/Logs/Domians/reverseEnglish/info.log" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %p - %30.30C[%L] - %m \n" />
        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="LevelMin" value="INFO"/>
            <param name="LevelMax" value="INFO "/>
        </filter>
    </appender>

    <logger name="com.jd.order.icorder" additivity="false">
        <level value="INFO"/>
        <appender-ref ref="INFO"/>
        <appender-ref ref="ERROR" />
    </logger>

    <root>
        <level value="INFO"/>
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="INFO" />
        <appender-ref ref="ERROR" />
    </root>
    <!--<root>-->
        <!--<priority value="INFO" />-->
        <!--<appender-ref ref="INFO" />-->
    <!--</root>-->
    <!--<root>-->
        <!--<priority value="ERROR" />-->
        <!--<appender-ref ref="ERROR" />-->
    <!--</root>-->

</log4j:configuration>